<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="shortcut icon" href="img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation" class="active"><a href="index.html">Início</a></li>
								<li role="presentation"><a href="pages/alongamentos.html">Alongamentos</a></li>
								<li role="presentation"><a href="pages/esportes.html">Esportes</a></li>
								<li role="presentation"><a href="pages/aerobicos.html">Aeróbicos</a></li>
								<li role="presentation"><a href="pages/anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation"><a href="pages/nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="pages/imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div id="id-div-linha1corpo-index" class="row text-center">
						<div class="col-md-4">
							<a class="class-a-index" href="pages/alongamentos.html">
								<h3 class="h3"><b>ALONGAMENTOS</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\alongamentos\index-alongamentos1.jpg" alt="index-alongamentos1">
							</a>
						</div>
						<div class="col-md-4">
							<a class="class-a-index" href="pages/esportes.html">
								<h3 class="h3"><b>ESPORTES</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\esportes\index-esportes1.jpg" alt="index-esportes1">
							</a>
						</div>
						<div class="col-md-4">
							<a class="class-a-index" href="pages/aerobicos.html">
								<h3 class="h3"><b>AERÓBICOS</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\aerobicos\index-aerobicos1.jpg" alt="index-aerobicos1">
							</a>
						</div>
					</div>
					<div id="id-div-linha2corpo-index" class="row text-center">
						<div class="col-md-4">
							<a class="class-a-index" href="pages/anaerobicos.html">
								<h3 class="h3"><b>ANAERÓBICOS</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\anaerobicos\index-anaerobicos1.jpg" alt="index-anaerobicos1">
							</a>
						</div>
						<div class="col-md-4">
							<a class="class-a-index" href="pages/nutricao.html">
								<h3 class="h3"><b>NUTRIÇÃO</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\nutricao\index-nutricao1.jpg" alt="index-nutricao1">
							</a>
						</div>
						<div class="col-md-4">
							<a class="class-a-index" href="pages/imc.html">
								<h3 class="h3"><b>IMC</b></h3>
								<img class="class-img-index img-rounded" src="img\conteudo\imc\index-imc1.jpg" alt="index-imc1">
							</a>
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>