<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">

<html>
	<head>
		<title>InfoFitness - Alongamentos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="shortcut icon" href="../img/icone-logo/icone-if.png" type="image/x-icon" />
		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div id="idDivTudoAlongamentos" class="classDivTudo">
			<table id="idTableTudoAlongamentos" class="classTableTudo" cellpadding="0" width="100%">
				<tr id="idTrCabecalhoAlongamentos" class="classTrCabecalho">
					<td id="idTdCapaAlongamentos" class="classTdCapa" bgcolor="white" colspan="3">
						<img src="../img/capas/capa-fitness.jpg" alt="capa-fitness.jpg" height="300px" width="100%">
					</td>
				</tr>
				<tr id="idTrMenuAlongamentos" class="classTrMenu">
					<td id="idTdMenuAlongamentos" class="classTdMenu" bgcolor="white" colspan="3" align="middle">
						<ul id="idUlMenuAlongamentos" class="classUlMenu" type="none">
							<li><a href="../index.html">Página Inicial</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="alongamentos.html">Alongamentos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="esportes.html">Esportes</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-aerobicos.html">Exercicios Aeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-anaerobicos.html">Exercícios Anaeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="nutricao.html">Nutrição</a></li>
						</ul>
					</td>
				</tr>
				<tr id="idTrCorpoAlongamentos" class="classTrCorpo">
					<td id="idTdBannerPublicidade1Alongamentos" class="classTdBannerPublicidade1" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-evolution.jpg" alt="banner-fitness-evolution" height="2000px" width="100%"> -->
						</a>
					</td>
					<td id="idTdConteudoAlongamentos" class="classTdConteudo" bgcolor="white">
						<table id="idTableConteudoAlongamentos" class="classTableConteudo" cellpadding="0" width="100%">
							<tr>
								<td align="middle">
									<img src="../img/conteudo/alongamentos/alongamentos1.jpg" alt="alongamentos1" height="250px">
								</td>
								<td>
									<p align="middle"><b>O que é?</b></p>
									<p>
										Alongamento é um tipo de exercício físico orientado para a manutenção ou melhora da flexibilidade. Praticá-lo é
										muito comum em atividades físicas esportivas como ginástica e corrida, atividades não esportivas
										como a yoga e o balé, e em reabilitação como a fisioterapia. Os exercícios de alongamento devem ser realizados 
										preferencialmente após um bom aquecimento, como corrida leve ou exercícios calistênicos, pois a temperatura muscular
										geral ou específica afeta a flexibilidade.
									</p>
									<p>
										Quanto mais alongado um músculo, maior será a movimentação da articulação comandada por ele e, portanto, maior a flexibilidade,
										o que o torna uma prática fundamental para o bom funcionamento do corpo, proporcionando maior agilidade de elasticidade e prevenir lesões.
										Essencial para o aquecimento e relaxamento dos músculos, deve ser uma atividade incorporada ao exercício físico,
										mas também pode ser praticado sozinho. Qualquer pessoa pode aprender a fazer alongamentos, independentemente da idade e da flexibilidade.
									</p>
								</td>
							<tr>
							<tr>
								<td>
									<p align="middle"><b>Benefícios do Alongamento</b></p>
									<p>
										<ul type="1">
											<li>Relaxam o corpo</li>
											<li>Previnem lesões</li>
											<li>Preparam o corpo para atividades físicas</li>
											<li>Reduzem as tensões musculares</li>
											<li>Aumenta a coordenação, pois os movimentos se tornam mais soltos e fáceis</li>
											<li>Maior arco de maleabilidade (capacidade de movimentação)</li>
											<li>Facilita atividades de desgaste, como por exemplo corrida, tênis, natação, ciclismo etc.</li>
											<li>Desenvolve a consciência corporal, à medida que a pessoa focaliza a parte do corpo que esta sendo alongada</li>
											<li>Ativa a circulação</li>
											<li>Ajuda no aquecimento, à medida que eleva a temperatura do corpo</li>
											<li>Ajuda a liberar os movimentos bloqueados por tensões emocionais</li>
										<ul>
									</p>
								</td>
								<td align="middle">
									<img src="../img/conteudo/alongamentos/alongamentos2.jpg" alt="alongamentos2" height="400px" width="550px">
								</td>
							</tr>
						</table>
					</td>
					<td id="idTdBannerPublicidade2Alongamentos" class="classTdBannerPublicidade2" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-banners.jpg" alt="banner-fitness-banners" height="2000px" width="100%"> -->
						</a>
					</td>
				</tr>
				<tr id="idTrRodapeAlongamentos" class="classTrRodape">
					<td id="idTdLogoAlongamentos" class="classTdLogo" align="middle" bgcolor="white">
						<img src="../img/icone-logo/logo-if.png" alt="logo-if" height="150px" width="150px">
					</td>
					<td id="idTdMenuInferiorAlongamentos" class="classTdMenuInferior" bgcolor="white">
						<h5 align="middle">Copyright © 2017 All Rights Reserved.</h5>
					</td>
					<td id="idTdContatosAlongamentos" class="classTdContatos" bgcolor="white">
						<h4 align="middle">
							E-mail: infofitness@infofitness.com
							<br><br>
							Telefones:
							<br>
							(31)3333-3333 (31)999999999
						</h4>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>