<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">

<html>
	<head>
		<title>InfoFitness - Esportes</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="shortcut icon" href="../img/icone-logo/icone-if.png" type="image/x-icon" />
		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div id="idDivTudoEsportes" class="classDivTudo">
			<table id="idTableTudoEsportes" class="classTableTudo" cellpadding="0" width="100%">
				<tr id="idTrCabecalhoEsportes" class="classTrCabecalho">
					<td id="idTdCapaEsportes" class="classTdCapa" bgcolor="white" colspan="3">
						<img src="../img/capas/capa-fitness.jpg" alt="capa-fitness.jpg" height="300px" width="100%">
					</td>
				</tr>
				<tr id="idTrMenuEsportes" class="classTrMenu">
					<td id="idTdMenuEsportes" class="classTdMenu" bgcolor="white" colspan="3" align="middle">
						<ul id="idUlMenuEsportes" class="classUlMenu" type="none">
							<li><a href="../index.html">Página Inicial</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="alongamentos.html">Alongamentos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="esportes.html">Esportes</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-aerobicos.html">Exercicios Aeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-anaerobicos.html">Exercícios Anaeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="nutricao.html">Nutrição</a></li>
						</ul>
					</td>
				</tr>
				<tr id="idTrCorpoEsportes" class="classTrCorpo">
					<td id="idTdBannerPublicidade1Esportes" class="classTdBannerPublicidade1" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-evolution.jpg" alt="banner-fitness-evolution" height="2000px" width="100%"> -->
						</a>
					</td>
					<td id="idTdConteudoEsportes" class="classTdConteudo" bgcolor="white">
						<table id="idTableConteudoEsportes" class="classTableConteudo" cellpadding="0" width="100%">
							<tr>
								<td align="middle">
									<img src="../img/conteudo/esportes/esportes1.jpg" alt="esportes1" height="400px">
								</td>
								<td>
									<p align="middle"><b>Motivos Importantes para a Prática da Atividades Físicas Esportivas</b></p>
									<ul>
										<li type="1">
											Auto Estima
											<ul type="none">
												<li>
													A prática regular de exercícios aumenta a confiança do indivíduo.
												</li>
											</ul>
										</li>
										<li type="1">
											Capacidade Mental
											<ul type="none">
												<li>
													Pessoas ativas apresentam reflexos mais rápidos, maior nível de concentração e memória mais apurada.
												</li>
											</ul>
										</li>
										<li type="1">
											Colesterol
											<ul type="none">
												<li>
													Exercícios vigorosos e regulares aumentam os níveis de HDL (lipoproteína de alta densidade, o “bom colesterol”) no sangue, fator associado à redução dos riscos de doenças cardíacas.
												</li>
											</ul>
										</li>
										<li type="1">
											Depressão
											<ul type="none">
												<li>
													Pessoas com depressão branda ou moderada, que praticam exercícios de 15 a 30 minutos em dia alternados, experimentam uma variação positiva do humor já após a terceira semana de atividade.
												</li>
											</ul>
										</li>
										<li type="1">
											Doenças Crônicas
											<ul type="none">
												<li>
													Os sedentários são duas vezes mais propensos a desenvolver doenças cadíacas. A atividade física regula a taxa de açúcar no sangue, reduzindo o risco de diabetes.
												</li>
											</ul>
										</li>
										<li type="1">
											Envelhecimento
											<ul type="none">
												<li>
													Ao fortalecer os músculos e o coração, e ao amenizar o declínio das habilidades físicas, os exercícios podem ajudar a manter a independência física e a habilidade para o trabalho, retardando o processo de envelhecimento.
												</li>
											</ul>
										</li>
										<li type="1">
											Ossos
											<ul type="none">
												<li>
													Exercícios regulares com pesos são acessórios fundamentais na construção e manutenção da massa óssea.
												</li>
											</ul>
										</li>
										<li type="1">
											Sono
											<ul type="none">
												<li>
													Quem se exercita “pega” no sono com mais facilidade, dorme profundamente e acorda restabelecido.
												</li>
											</ul>
										</li>
										<li type="1">
											Stress e Ansiedade
											<ul type="none">
												<li>
													A atividade física libera os hormônios acumulados durante os momentos de stress. Também funciona como uma espécie de tranqüilizante natural – depois do exercício a pessoa experimenta uma sensação de serenidade.
													Conceitos importantes para a prática da atividade física.
												</li>
											</ul>
										</li>
									</ul>
								</td>
							<tr>
							<tr>
								<td>
									<p align="middle"><b>Benefícios de uma Rotina Bem Estruturada de Atividades Físicas</b></p>
									
									<ul>
										<li type="1">
											Aumento da força e da resistência muscular.
										</li>
										<li type="1">
											Maior flexibilidade nas articulações.
										</li>
										<li type="1">
											Melhor composição corporal (balanços desejável entre gorduras, carboidratos e proteínas afim de de garantir melhor qualidade de vida).
										</li>
										<li type="1">
											Incremento da capacidade funcional cárdio-respiratória (cansará com maior dificuldade nas tarefas rotineiras).
										</li>
									</ul>
								</td>
								<td align="middle">
									<img src="../img/conteudo/esportes/esportes2.jpg" alt="esportes2" height="200px" width="350px">
								</td>
							</tr>
						</table>
					</td>
					<td id="idTdBannerPublicidade2Esportes" class="classTdBannerPublicidade2" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-banners.jpg" alt="banner-fitness-banners" height="2000px" width="100%"> -->
						</a>
					</td>
				</tr>
				<tr id="idTrRodapeEsportes" class="classTrRodape">
					<td id="idTdLogoEsportes" class="classTdLogo" align="middle" bgcolor="white">
						<img src="../img/icone-logo/logo-if.png" alt="logo-if" height="150px" width="150px">
					</td>
					<td id="idTdMenuInferiorEsportes" class="classTdMenuInferior" bgcolor="white">
						<h5 align="middle">Copyright © 2017 All Rights Reserved.</h5>
					</td>
					<td id="idTdContatosEsportes" class="classTdContatos" bgcolor="white">
						<h4 align="middle">
							E-mail: infofitness@infofitness.com
							<br><br>
							Telefones:
							<br>
							(31)3333-3333 (31)999999999
						</h4>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>