<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">

<html>
	<head>
		<title>InfoFitness - Exercícios Aeróbicos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="shortcut icon" href="../img/icone-logo/icone-if.png" type="image/x-icon" />
		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div id="idDivTudoExerciciosAerobicos" class="classDivTudo">
			<table id="idTableTudoExerciciosAerobicos" class="classTableTudo" cellpadding="0" width="100%">
				<tr id="idTrCabecalhoExerciciosAerobicos" class="classTrCabecalho">
					<td id="idTdCapaExerciciosAerobicos" class="classTdCapa" bgcolor="white" colspan="3">
						<img src="../img/capas/capa-fitness.jpg" alt="capa-fitness.jpg" height="300px" width="100%">
					</td>
				</tr>
				<tr id="idTrMenuExerciciosAerobicos" class="classTrMenu">
					<td id="idTdMenuExerciciosAerobicos" class="classTdMenu" bgcolor="white" colspan="3" align="middle">
						<ul id="idUlMenuExerciciosAerobicos" class="classUlMenu" type="none">
							<li><a href="../index.html">Página Inicial</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="alongamentos.html">Alongamentos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="esportes.html">Esportes</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-aerobicos.html">Exercicios Aeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-anaerobicos.html">Exercícios Anaeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="nutricao.html">Nutrição</a></li>
						</ul>
					</td>
				</tr>
				<tr id="idTrCorpoExerciciosAerobicos" class="classTrCorpo">
					<td id="idTdBannerPublicidade1ExerciciosAerobicos" class="classTdBannerPublicidade1" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-evolution.jpg" alt="banner-fitness-evolution" height="2000px" width="100%"> -->
						</a>
					</td>
					<td id="idTdConteudoExerciciosAerobicos" class="classTdConteudo" bgcolor="white">
						<table id="idTableConteudoExerciciosAerobicos" class="classTableConteudo" cellpadding="0" width="100%">
							<tr>
								<td align="middle">
									<img src="../img/conteudo/exercicios-aerobicos/exercicios-anaerobicos-beneficios-exercicios-fisicos.png" alt="exercicios-anaerobicos-beneficios-exercicios-fisicos" height="450px">
								</td>
								<td align="middle">
									<p>
										<h3 align="center">Exercícios Aeróbicos</h3>
									</p>
									O <b> exercício aeróbico </b> é aquele que usa o oxigênio no processo de geração de energia dos músculos.
									Esse tipo de exercício trabalha uma grande quantidade de grupos musculares de forma rítmica.
									Andar, correr, nadar, pedalar, dançar, são alguns dos principais exemplos de exercícios aeróbicos.

									<p>
										<b>Como o Exercício Aeróbico Atua na Queima de Gorduras</b>
									</p>

									Quando se pratica exercícios aeróbicos, ocorre que as células musculares consomem mais oxigênio para produzir energia.
									Comparando com o exercício anaeróbico, que são de maior intensidade e de menor duração ocorre que, neste caso, nos primeiros segundos o organismo quebra o ATP
									(molécula que armazena energia) que existe em estoque dentro das células musculares e só depois passa a transformar a glicose existente no corpo em ATP para poder continuar a usá-la.
									Em exercícios aeróbicos, que são de menos intensidade porém de grande duração, o corpo irá exigir muito mais energia porém terá mais tempo para produzi-la.
								</td>
							</tr>
							<tr>
								<td>
									<p>
										<h3>Benefícios para a Saúde</h3>
									</p>

									Entre os benefícios para a saúde de fazer regularmente exercícios aeróbicos estão:
									<ul type="1">
										<li>Diminui a pressão arterial.</li>
										<li>Melhora a circulação sanguínea.</li>
										<li>Aumenta a reserva de energia nos músculos, o que proporciona o aumento da resistência.</li>
										<li>Tonifica a musculatura.</li>
										<li>Fortalece os músculos envolvidos na respiração.</li>
										<li>Fortalece o aumento do músculo do coração.</li>
										<li>Melhora o sistema imunológico.</li>
										<li>Ajuda muito a aumentar a autoestima.</li>
										<li>Combate a depressão e melhora o humor.</li>
										<li>A qualidade do sono melhora.</li>
										<li>Previne muitas doenças como acidentes vasculares cerebrais, diabetes, hipertensão e obesidade.</li>
										<li>Causa a perda de peso.</li>
									</ul>
								</td>
								<td align="middle" width="20%">
									<img src="../img/conteudo/exercicios-aerobicos/exercicios-aerobicos2.jpg" alt="exercicios-aerobicos2" height="250px" width="350px">
								</td>
							</tr>
						</table>
					</td>
					<td id="idTdBannerPublicidade2ExerciciosAerobicos" class="classTdBannerPublicidade2" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-banners.jpg" alt="banner-fitness-banners" height="2000px" width="100%"> -->
						</a>
					</td>
				</tr>
				<tr id="idTrRodapeExerciciosAerobicos" class="classTrRodape">
					<td id="idTdLogoExerciciosAerobicos" class="classTdLogo" align="middle" bgcolor="white">
						<img src="../img/icone-logo/logo-if.png" alt="logo-if" height="150px" width="150px">
					</td>
					<td id="idTdMenuInferiorExerciciosAerobicos" class="classTdMenuInferior" bgcolor="white">
						<h5 align="middle">Copyright © 2017 All Rights Reserved.</h5>
					</td>
					<td id="idTdContatosExerciciosAerobicos" class="classTdContatos" bgcolor="white">
						<h4 align="middle">
							E-mail: infofitness@infofitness.com
							<br><br>
							Telefones:
							<br>
							(31)3333-3333 (31)999999999
						</h4>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>