<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">

<html>
	<head>
		<title>InfoFitness - Exercícios Anaeróbicos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="shortcut icon" href="../img/icone-logo/icone-if.png" type="image/x-icon" />
		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div id="idDivTudoExerciciosAnaerobicos" class="classDivTudo">
			<table id="idTableTudoExerciciosAnaerobicos" class="classTableTudo" cellpadding="0" width="100%">
				<tr id="idTrCabecalhoExerciciosAnaerobicos" class="classTrCabecalho">
					<td id="idTdCapaExerciciosAnaerobicos" class="classTdCapa" bgcolor="white" colspan="3">
						<img src="../img/capas/capa-fitness.jpg" alt="capa-fitness.jpg" height="300px" width="100%">
					</td>
				</tr>
				<tr id="idTrMenuExerciciosAnaerobicos" class="classTrMenu">
					<td id="idTdMenuExerciciosAnaerobicos" class="classTdMenu" bgcolor="white" colspan="3" align="middle">
						<ul id="idUlMenuExerciciosAnaerobicos" class="classUlMenu" type="none">
							<li><a href="../index.html">Página Inicial</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="alongamentos.html">Alongamentos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="esportes.html">Esportes</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-aerobicos.html">Exercicios Aeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-anaerobicos.html">Exercícios Anaeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="nutricao.html">Nutrição</a></li>
						</ul>
					</td>
				</tr>
				<tr id="idTrCorpoExerciciosAnaerobicos" class="classTrCorpo">
					<td id="idTdBannerPublicidade1ExerciciosAnaerobicos" class="classTdBannerPublicidade1" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-evolution.jpg" alt="banner-fitness-evolution" height="2000px" width="100%"> -->
						</a>
					</td>
					<td id="idTdConteudoExerciciosAnaerobicos" class="classTdConteudo" bgcolor="white">
						<table id="idTableConteudoExerciciosAnaerobicos" class="classTableConteudo" cellpadding="0" width="100%">
							<tr>
								<td align="middle">
									<img src="../img/conteudo/exercicios-anaerobicos/exercicios-anaerobicos-beneficios-musculacao2.jpg" alt="exercicios-anaerobicos-beneficios-musculacao2" height="500px" width="425px">
								</td>
								<td align="middle">
									<p>
										<h3>Exercício Anaeróbico</h3>
									</p>
									O <b>exercício anaeróbico</b> é qualquer atividade física que trabalhe diversos grupos musculares durante um determinado e constante período de tempo,
									de forma contínua e ritmada. O treino anaeróbico melhora significativamente o funcionamento do coração,
									pulmões e todo o sistema cardiovascular contribuindo para uma entrega de oxigênio mais rápida por todo o nosso corpo.
									<br>
									<br>
									Durante períodos de tempo mais longos de exercício físico, o metabolismo provê a energia, o que é chamado de exercício aeróbico.
									Diferentemente desses, exemplos de exercícios anaeróbicos incluem musculação, sprints, saltos; qualquer exercício que consista de movimentos rápidos de alta intensidade.
									Exercícios anaeróbios são geralmente usados por atletas para desenvolver força e bodybuilders para construir massa muscular.
									Músculos que são treinados sob condições anaeróbias desenvolvem melhor performance em atividades de curta duração e alta intensidade.
									Exercícios aeróbicos, por outro lado, incluem atividade realizadas por longos períodos de tempo em menor intensidade. 
									Exercícios como caminhar, correr, nadar e pedalar requerem grande quantidade de oxigênio para gerar energia por período prolongado de tempo.		
								</td>
							</tr>
							<tr>
								<td>
									<p>
										<h3>Benefícios para a Saúde</h3>
									</p>

									Entre os benefícios para a saúde de fazer regularmente exercícios aeróbicos estão:
									<ul type="1">
										<li>Fortalecimento dos músculos envolvidos na respiração.</li>
										<li>Fortalecimento e aumento do músculo cardíaco.</li>
										<li>Tonificação da musculatura.</li>
										<li>Diminuição da pressão arterial.</li>
										<li>Elevação do número de células vermelhas do sangue.</li>
										<li>Melhoria da circulação sanguínea.</li>
										<li>Elevação das reservas de energia nos músculos, o que aumenta a resistência.</li>
										<li>Aumento do fluxo sanguíneo nos músculos.</li>
									</ul>
								</td>
								<td align="middle" width="20%">
									<img src="../img/conteudo/exercicios-anaerobicos/exercicios-anaerobicos2.jpg" alt="exercicios-anaerobicos2" height="250px" width="350px">
								</td>
							</tr>
						</table>
					</td>
					<td id="idTdBannerPublicidade2ExerciciosAnaerobicos" class="classTdBannerPublicidade2" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-banners.jpg" alt="banner-fitness-banners" height="2000px" width="100%"> -->
						</a>
					</td>
				</tr>
				<tr id="idTrRodapeExerciciosAnaerobicos" class="classTrRodape">
					<td id="idTdLogoExerciciosAnaerobicos" class="classTdLogo" align="middle" bgcolor="white">
						<img src="../img/icone-logo/logo-if.png" alt="logo-if" height="150px" width="150px">
					</td>
					<td id="idTdMenuInferiorExerciciosAnaerobicos" class="classTdMenuInferior" bgcolor="white">
						<h5 align="middle">Copyright © 2017 All Rights Reserved.</h5>
					</td>
					<td id="idTdContatosExerciciosAnaerobicos" class="classTdContatos" bgcolor="white">
						<h4 align="middle">
							E-mail: infofitness@infofitness.com
							<br><br>
							Telefones:
							<br>
							(31)3333-3333 (31)999999999
						</h4>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>