<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">

<html>
	<head>
		<title>InfoFitness - Nutrição</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="shortcut icon" href="../img/icone-logo/icone-if.png" type="image/x-icon" />
		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div id="idDivTudoNutricao" class="classDivTudo">
			<table id="idTableTudoNutricao" class="classTableTudo" cellpadding="0" width="100%">
				<tr id="idTrCabecalhoNutricao" class="classTrCabecalho">
					<td id="idTdCapaNutricao" class="classTdCapa" bgcolor="white" colspan="3">
						<img src="../img/capas/capa-fitness.jpg" alt="capa-fitness.jpg" height="300px" width="100%">
					</td>
				</tr>
				<tr id="idTrMenuNutricao" class="classTrMenu">
					<td id="idTdMenuNutricao" class="classTdMenu" bgcolor="white" colspan="3" align="middle">
						<ul id="idUlMenuNutricao" class="classUlMenu" type="none">
							<li><a href="../index.html">Página Inicial</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="alongamentos.html">Alongamentos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="esportes.html">Esportes</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-aerobicos.html">Exercicios Aeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="exercicios-anaerobicos.html">Exercícios Anaeróbicos</a></li>
							&nbsp&nbsp&nbsp&nbsp
							<li><a href="nutricao.html">Nutrição</a></li>
						</ul>
					</td>
				</tr>
				<tr id="idTrCorpoNutricao" class="classTrCorpo">
					<td id="idTdBannerPublicidade1Nutricao" class="classTdBannerPublicidade1" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-evolution.jpg" alt="banner-fitness-evolution" height="2000px" width="100%"> -->
						</a>
					</td>
					<td id="idTdConteudoNutricao" class="classTdConteudo" bgcolor="white">
						<table id="idTableConteudoNutricao" class="classTableConteudo" cellpadding="0" width="100%">
							<tr>
								<td align="left">
									<img src="../img/conteudo/nutricao/nutricao1.jpg" alt="nutricao1" height="325px">
								</td>
								<td align="middle">
									<p>
										Para uma vida saudável é importante se ter uma dieta variada, equilibrada e moderada. Ou seja, além de se ingerir
										alimentos dos mais diversos tipos moderadamente, é importante que haja um equilíbrio entre eles. Não adianta querer
										consumir muito de um tipo de alimento e não consumir nada de outro, o ideal é comsumir de tudo um pouco e um pouco de tudo.
									</p>
									<p>
										Com intuito de guiar as pessoas qual seria a quantidade ideal de cada alimento a ser consumido, foi criada a Pirâmide Alimentar.
										Essa, determina, por meio de pesquisas, qual deve ser a dieta ideal de um ser humano afim de melhores benefícios para sáude.
									</p>
								</td>
							<tr>
							<tr>
								<td>
									<p>
										O ser humano deve ingerir uma determinada quantidade de nutrientes essenciais para a estruturação e o funcionamento do corpo.
									</p>
									<p>
										A tabela representa em números o que a Pirâmide Alimentar simplifica por meio dos alimentos em si, porém são os nutrientes
										que cada um deles possui que deve ser metabolizado pelo corpo a fim de gerar energia e matéria (gorduras, caboidratos e proteínas).
									</p>
								</td>
								<td align="middle">
									<img src="../img/conteudo/nutricao/nutricao2.png" alt="nutricao2" height="250px">
								</td>
							</tr>
							<tr>
								<td align="middle">
									<img src="../img/conteudo/nutricao/nutricao3.png" alt="nutricao3" height="300px">
								</td>
								<td>
									<p>
										Além dos nutrientes da tabela anterior, o metabolismo humano necessita de uma pequena dose diária de determinadas subtâncias para manter
										o funcionamento corretos, as vitaminas.
									</p>
									<p>
										Principais Vitaminas:
									</p>
									<ul type="1">
										<li>Vitamina A: é importante na manutenção dos tecidos epiteliais (pele).</li>
										<li>Vitamina B1: ajuda na oxidação dos carboidratos, estimula o apetite e mantém o tônus muscular e o bom funcionamento do sistema nervoso.</li>
										<li>Vitamina B2: essencial à respiração celular, mantém saudável a cor da pele e atua na coordenação motora.</li>
										<li>Vitamina B3: mantém o tônus muscular e nervoso, além do bom funcionamento do sistema digestório.</li>
										<li>Vitamina B4: auxilia na respiração celular.</li>
										<li>Vitamina B5: participa de processos energéticos das células.</li>
										<li>Vitamina B6: mantém a pele saudável e auxilia na oxidação dos alimentos.</li>
										<li>Vitamina B7: auxilia síntese de nutrientes e na diminuição da gordura localizada.</li>
										<li>Vitamina C: mantém a integridade dos vasos sanguíneos e a saúde dos dentes, além de contribuir para o sistema imune.</li>
										<li>Vitamina D: auxilia na absorção de nutrientes pelo intestino e no depósito de sais de cálcio e fósforo nos ossos.</li>
										<li>Vitamina E: participa na respiração celular, pois é um antioxidante.</li>
									<ul>
								</td>
							<tr>
						</table>
					</td>
					<td id="idTdBannerPublicidade2Nutricao" class="classTdBannerPublicidade2" bgcolor="white" width="15%">
						<a href="">
							<!-- <img src="../img/banners/banner-fitness-banners.jpg" alt="banner-fitness-banners" height="2000px" width="100%"> -->
						</a>
					</td>
				</tr>
				<tr id="idTrRodapeNutricao" class="classTrRodape">
					<td id="idTdLogoNutricao" class="classTdLogo" align="middle" bgcolor="white">
						<img src="../img/icone-logo/logo-if.png" alt="logo-if" height="150px" width="150px">
					</td>
					<td id="idTdMenuInferiorNutricao" class="classTdMenuInferior" bgcolor="white">
						<h5 align="middle">Copyright © 2017 All Rights Reserved.</h5>
					</td>
					<td id="idTdContatosNutricao" class="classTdContatos" bgcolor="white">
						<h4 align="middle">
							E-mail: infofitness@infofitness.com
							<br><br>
							Telefones:
							<br>
							(31)3333-3333 (31)999999999
						</h4>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>