<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness - Exercícios Aeróbicos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="../img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="../css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation"><a href="../index.html">Início</a></li>
								<li role="presentation"><a href="alongamentos.html">Alongamentos</a></li>
								<li role="presentation"><a href="esportes.html">Esportes</a></li>
								<li role="presentation" class="active"><a href="aerobicos.html">Aeróbicos</a></li>
								<li role="presentation"><a href="anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation"><a href="nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2"><b>Exercícios Aeróbicos</b></h2>
							<p class="text-justify">
								Caminhada, corrida, natação, ciclismo, esteira, elíptico. Esses são alguns
								dos exercícios aeróbicos mais conhecidos. Além desses, existem outros
								não tão comuns, mas que também podem ser considerados, também, bons aeróbicos,
								por exemplo: dança, patinação, pular corda, step, entre outros.
							</p>
							<p class="text-justify">
								O mais interessante é que, devido a essa grande diversidade, é possível escolher
								o exercício mais agradável ao indivíduo, pois ao se exercitar, fazerá algo prazeroso.
								Assim, a motivação para perda de peso e melhoria na saúde aumenta ainda mais.
							</p>
							<p class="text-justify">
								É comum uma pessoa começar uma atividade física e, depois de um certo tempo, simplesmente
								parar, não porque não deseja emagrecer ou melhorar a saúde, mas porque escolheu uma atividade que
								não a agrada.
							</p>
							<p class="text-justify">
								Logo, o primeiro passo é escolher o que melhor se adapta ao praticante da atividade física, para
								não correr o risco de desanimar no meio do processo.
							</p>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-aerobicos" src="../img/conteudo/aerobicos/aerobicos1.jpg" alt="aerobicos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-aerobicos" src="../img/conteudo/aerobicos/aerobicos2.jpg" alt="aerobicos2">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-aerobicos" src="../img/conteudo/aerobicos/aerobicos3.jpg" alt="aerobicos3">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-aerobicos" src="../img/conteudo/aerobicos/aerobicos4.jpg" alt="aerobicos4">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<img class="img-rounded img-responsive" src="../img/conteudo/aerobicos/aerobicos5.png" alt="aerobicos5">
						</div>
						<div class="col-md-3">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="text-center">
								<h2 class="h2 class-h2"><b>Principais Benefícios para Prática de Exercícios Aeróbicos</b></h2>
							</div>
							<ul class="list-group">
								<li class="list-group-item list-group-item-info">Melhora a circulação sanguínea</li>
								<li class="list-group-item list-group-item-info">Aumenta a reserva de energia nos músculos</li>
								<li class="list-group-item list-group-item-info">Aprimora a resistência</li>
								<li class="list-group-item list-group-item-info">Tonifica a musculatura corporal</li>
								<li class="list-group-item list-group-item-info">Fortalece os músculos envolvidos na respiração</li>
								<li class="list-group-item list-group-item-info">Fortalece o aumentos do músculo do coração</li>
								<li class="list-group-item list-group-item-info">Melhora o sistema imunológico</li>
								<li class="list-group-item list-group-item-info">Favorece o aumento da autoestima</li>
								<li class="list-group-item list-group-item-info">Combate a depressão e melhora o humor</li>
								<li class="list-group-item list-group-item-info">Melhora a qualidade do sono</li>
								<li class="list-group-item list-group-item-info">Previne inúmeras doenças</li>
								<li class="list-group-item list-group-item-info">Causa perda de peso</li>
							</ul>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="../img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>