<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness - Alongamentos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="../img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="../css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation"><a href="../index.html">Início</a></li>
								<li role="presentation" class="active"><a href="alongamentos.html">Alongamentos</a></li>
								<li role="presentation"><a href="esportes.html">Esportes</a></li>
								<li role="presentation"><a href="aerobicos.html">Aeróbicos</a></li>
								<li role="presentation"><a href="anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation"><a href="nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2"><b>Estrutura Corporal ao Ser Alongada</b></h2>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos1.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos2.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos3.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos4.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos5.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos6.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos7.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos8.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos9.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive class-img-alongamentos" src="../img/conteudo/alongamentos/alongamentos10.jpg" alt="alongamentos1">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2 class-h2-alongamentos"><b>Como se Alongar</b></class>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<img class="img-rounded img-responsive" src="../img/conteudo/alongamentos/alongamentos11.jpg" alt="alongamentos11">
						</div>
						<div class="col-md-3">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="text-center">
								<h2 class="h2 class-h2"><b>Principais Benefícios da Prática de Alongamentos</b></h2>
							</div>
							<ul class="list-group">
								<li class="list-group-item list-group-item-info">Aumenta a flexibilidade</li>
								<li class="list-group-item list-group-item-info">Alivia a tensão muscular</li>
								<li class="list-group-item list-group-item-info">Relaxa o corpo e a mente</li>
								<li class="list-group-item list-group-item-info">Aumenta a aptidão pelos movimentos</li>
								<li class="list-group-item list-group-item-info">Melhora a postura</li>
								<li class="list-group-item list-group-item-info">Previne lesões e dores</li>
								<li class="list-group-item list-group-item-info">Ativa a circulação sanguínea</li>
								<li class="list-group-item list-group-item-info">Prepara o músculo para atividade física</li>
							</ul>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="../img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>