<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness - Exercícios Anaeróbicos</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="../img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="../css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation"><a href="../index.html">Início</a></li>
								<li role="presentation"><a href="alongamentos.html">Alongamentos</a></li>
								<li role="presentation"><a href="esportes.html">Esportes</a></li>
								<li role="presentation"><a href="aerobicos.html">Aeróbicos</a></li>
								<li role="presentation" class="active"><a href="anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation"><a href="nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2"><b>Exercícios Anaeróbicos</b></h2>
							<p class="text-justify">
								O exercício anaeróbico é qualquer atividade física que trabalhe diversos grupos musculares durante um determinado e constante período de tempo,
								de forma contínua e ritmada. O treino anaeróbico melhora significativamente o funcionamento do coração,
								pulmões e todo o sistema cardiovascular contribuindo para uma entrega de oxigênio mais rápida por todo o nosso corpo.
							</p>
							<p class="text-justify">
								Durante períodos de tempo mais longos de exercício físico, o metabolismo aeróbico provê a energia, o que é chamado de exercício aeróbico.
								Exemplos de exercícios anaeróbicos incluem musculação, sprints, saltos; qualquer exercício que consista de movimentos rápidos de alta intensidade.
								Exercícios anaeróbios são geralmente usados por atletas para desenvolver força e bodybuilders para construir massa muscular.
								Músculos que são treinados sob condições anaeróbias desenvolvem melhor performance em atividades de curta duração e alta intensidade.
								Exercícios aeróbicos, por outro lado, incluem atividade realizadas por longos períodos de tempo em menor intensidade. 
								Exercícios como caminhar, correr, nadar e pedalar requerem grande quantidade de oxigênio para gerar energia por período prolongado de tempo.
							</p>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<img class="img-rounded img-responsive class-img-aerobicos" src="../img/conteudo/anaerobicos/exercicios-anaerobicos1.jpg" alt="exercicios-anaerobicos1">
						</div>
						<div class="col-md-3">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="text-center">
								<h2 class="h2"><b>Principais Benefícios para Prática de Exercícios Anaeróbicos</b></h2>
							</div>
							<ul class="list-group">
								<li class="list-group-item list-group-item-info">Melhora a resistência física</li>
								<li class="list-group-item list-group-item-info">Melhora o humor</li>
								<li class="list-group-item list-group-item-info">Aumenta a força</li>
								<li class="list-group-item list-group-item-info">Revine lesões</li>
								<li class="list-group-item list-group-item-info">Melhora a produção hormonal</li>
								<li class="list-group-item list-group-item-info">Diminui os sintomas  da TPM</li>
								<li class="list-group-item list-group-item-info">Ajuda a emagrecer</li>
								<li class="list-group-item list-group-item-info">Aumenta a massa magra</li>
								<li class="list-group-item list-group-item-info">Melhora a circulação</li>
								<li class="list-group-item list-group-item-info">Aumenta a saúde do coração</li>
								<li class="list-group-item list-group-item-info">Ajuda a prevenir problemas de saúde</li>
								<li class="list-group-item list-group-item-info">Mantém a massa muscular magra</li>
								<li class="list-group-item list-group-item-info">Aumenta a força e densidade do osso</li>
								<li class="list-group-item list-group-item-info">Impulsiona o metabolismo</li>
								<li class="list-group-item list-group-item-info">Remodela seu corpo e melhora a aparência</li>
							</ul>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive" src="../img/conteudo/anaerobicos/exercicios-anaerobicos2.jpg" alt="exercicios-anaerobicos2">
						</div>
						<div class="col-md-5">
							<img class="img-rounded img-responsive" src="../img/conteudo/anaerobicos/exercicios-anaerobicos3.jpg" alt="exercicios-anaerobicos3">
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="../img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>