<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness - Esportes</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="../img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="../css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation"><a href="../index.html">Início</a></li>
								<li role="presentation"><a href="alongamentos.html">Alongamentos</a></li>
								<li role="presentation" class="active"><a href="esportes.html">Esportes</a></li>
								<li role="presentation"><a href="aerobicos.html">Aeróbicos</a></li>
								<li role="presentation"><a href="anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation"><a href="nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="text-center">
								<h2 class="h2"><b>Principais Beneficios da Prática de Esportes</b></h2>
							</div>
							<ul class="list-group">
								<li class="list-group-item list-group-item-info">Aumenta o convívio social  </li>
								<li class="list-group-item list-group-item-info">Autoestima </li>
								<li class="list-group-item list-group-item-info">Diminui a indisposição  </li>
								<li class="list-group-item list-group-item-info">Diminui a ansiedade  </li>
								<li class="list-group-item list-group-item-info">Memória afiada  </li>
								<li class="list-group-item list-group-item-info">Melhora o humor  </li>
								<li class="list-group-item list-group-item-info">Dormindo melhor</li>
							</ul>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10 text-center">
							<img class="img-rounded img-responsive" src="../img/conteudo/esportes/esportes2.jpg" alt="esportes2">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="text-center">
								<h2 class="h2 class-h2"><b>Top 10 Esportes Mais Praticados no Brasil</b></h2>
							</div>
							<ul class="list-group">
								<li class="list-group-item">Futebol - 30,4 milhões<span class="badge badge-left">1º</span></li>
								<li class="list-group-item">Vôlei – 15,3 milhões<span class="badge badge-left">2º</span></li> 
								<li class="list-group-item">Tênis de Mesa - 12 milhões <span class="badge badge-left">3º</span></li>
								<li class="list-group-item">Natação – 11 milhões<span class="badge badge-left">4º</span></li>
								<li class="list-group-item">Futsal – 10,7 milhões<span class="badge badge-left">5º</span></li>
								<li class="list-group-item">Capoeira – 6 milhões <span class="badge badge-left">6º</span></li>
								<li class="list-group-item">Skate – 2,7 milhões<span class="badge badge-left">7º</span></li>
								<li class="list-group-item">Surfe – 2,4 milhões<span class="badge badge-left">8ºº</span></li>
								<li class="list-group-item">Judô – 2,2 milhões<span class="badge badge-left">9º</span></li>
								<li class="list-group-item">Atletismo – 2,1 milhões<span class="badge badge-left">10º</span></li>
							</ul>				 				
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<img class="img-rounded img-responsive" src="../img/conteudo/esportes/esportes1.jpg" alt="esportes1">
						</div>
						<div class="col-md-3">
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="../img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>