<!DOCTYPE HTML>
<html>
	<head>
		<title>InfoFitness - Nutrição</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="EDUARDO AUGUSTO & CAIO GRACIANO">
		<meta name="periodo" content="1º/2017" />
		<meta property="og:title" content="InfoFitness">
		<meta property="og:description" content="Site sobre atividades físicas, alimentação e saúde em geral.">
		<meta property="og:image" content="../img/icone-logo/icone-if.png">

		<link rel="stylesheet" type="text/css" href="../css/cascadestylesheets.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/icone-logo/logo-if-transparente.png" type="image/x-icon">

		<script src="../js/javascript.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="class-div-cabecalho">
					<div class="row text-center">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-justified navbar-fixed-top">
								<li role="presentation"><a href="../index.html">Início</a></li>
								<li role="presentation"><a href="alongamentos.html">Alongamentos</a></li>
								<li role="presentation"><a href="esportes.html">Esportes</a></li>
								<li role="presentation"><a href="aerobicos.html">Aeróbicos</a></li>
								<li role="presentation"><a href="anaerobicos.html">Anaeróbicos</a></li>
								<li role="presentation" class="active"><a href="nutricao.html">Nutrição</a></li>
								<li role="presentation"><a href="imc.html">IMC</a></li>
							</ul>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-header">
								<h1 class="h1">INFO FITNESS</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="class-div-corpo">
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2"><b>Macronutrientes</b></h2>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Macronutriente</th>
										<th>Quantidade Diária</th>
										<th>Alimentos Encontrados</th>
										<th>Funções no Organismo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gordura total</td>
										<td>65 g a 78 g</td>
										<td>Abacate (frutas oleaginosas), salmão, castanha, carnes, massas, entre outros.</td>
										<td>Fonte e reserva de energia, regulador térmico e proteção mecânica.</td>
									</tr>
									<tr>
										<td>Gordura Saturada</td>
										<td>20 g</td>
										<td>Carne animal (bovina, ovina, suína, aves), queijo, leite, óleo de coco, cacau, manteiga, creme de leite, entre outros.</td>
										<td>Atua na produção de hormônios sexuais, manutenção da membrana celular e no armazenamento das vitaminas A, D, E e K.</td>
									</tr>
									<tr>
										<td>Colesterol</td>
										<td>300 mg</td>
										<td>Carne bovina, carne suína, gema de ovo de galinha, ricota, frutos do mar, manteiga, peixe, entre outros.</td>
										<td>Atua na produção de membrana celular, na síntese de hormônios esteroides (estrógeno e testosterona), como antioxidante, no metabolismo de vitaminas, entre outros.</td>
									</tr>
									<tr>
										<td>Sódio</td>
										<td>2300 mg a 2400 mg</td>
										<td>Carne processada, defumando, peixe enlatado, queijo, tempero, sopa, caldo, vegetal em conserva, bolacha, bolo, fast-food, manteiga, margarina, entre outros.</td>
										<td>Equilibra os líquidos corporais juntamente com o potássio e o cloreto, manutenção do equilíbrio ácido básico, excitabilidade de músculos e controle da pressão osmótica.</td>
									</tr>
									<tr>
										<td>Potássio</td>
										<td>3500 mg a 4700 mg</td>
										<td>Beterraba, abacate, iogurte, laranja, banana, abóbora, tomate, amendoim, leite, lentilha, mamão, ervilha, uva, carne bovina, batata, sardinha, pera, queijo, coco, entre outros.</td>
										<td>Atua no balanço e distribuição de água no organismo, no relaxamento muscular, na manutenção do equilíbrio ácido básico, nos processos de regulação das atividades neuromusculares.</td>
									</tr>
									<tr>
										<td>Carboidrato total</td>
										<td>275 g a 300 g</td>
										<td>Bolacha, torrada, pão, arroz, macarrão, batata, ervilha, grão-de-bico, lentilha, feijão, soja, entre outros.</td>
										<td>Fonte e reserva de energia, evita o catabolismo muscular, estruturação de macromoléculas, matabolizar os lipídios, entre outros.</td>
									</tr>
									<tr>
										<td>Açúcares</td>
										<td>50 g</td>
										<td>Açúcar, frutas, cereais, vegetais, mel, leite e derivados, arroz, batata, milho, farinha, pudim, refrigerante, linguiça, hambúrguers, suplementos alimentares, entre outros.</td>
										<td>Fonte energética e reserva energética.</td>
									</tr>
									<tr>
										<td>Fibras</td>
										<td>25 g a 28 g</td>
										<td>Trigo, centeio, aveia, pão integral, verduras, hortaliças, mandioca, couve, cenoura, batata doce, pimentão, caqui, abacate, goiaba, laranja, maçã, amêndoas, castanha, coco, leguminosas, entre outros.</td>
										<td>Diminui o colesterol no sangue, diminui os picos de glicose e insulina no sangue, contribuem para a perda de peso, reduz o risco de doenças cardiovasculares, diminuem a ocorrência de hipertensão, entre outros.</td>
									</tr>
									<tr>
										<td>Protéinas</td>
										<td>50 g a 80 g</td>
										<td>Carnes em geral, queijo, peixe, ovo, iogurte, leite, arroz, feijão, soja, entre outros.</td>
										<td>Construção de novos tecidos, transporte de substâncias, atua no sistema imunológico, cataliza reações químicas, compõe fluídos corporais, fonte energética, responsável pela resistência e elasticidade dos tecidos, regula os hormônios, participa de todos os processos biológicos do corpo humano.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<h2 class="h2"><b>Nutrientes</b></h2>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Nutriente</th>
										<th>Quantidade Diária</th>
										<th>Alimentos Encontrados</th>
										<th>Funções no Organismo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Vitamina A</td>
										<td>900 mcg</td>
										<td>Bife de fígado bovino, leite de vaca, óleo de peixe, manteiga, queijo, ovo, cenoura, batata-doce, manga, espinafre, couve, mamão, tomate, entre outros.</td>
										<td>Proteje a célula contra radicais livres, nutri o globo ocular, realiza manutenção do equilíbrio da pele e mucosas, atua na proteção de doenças infecciosas, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina C</td>
										<td>60 mg a 90 mg</td>
										<td>Laranja, limão, tomate, abacaxi, mamão, repolho, couve-flor, espinafre, pimentão, entre outros.</td>
										<td>Atua na síntese de colágeno, nas funções e no crescimento gandulares, na manutenção dos tecidos, no sistema imunológico, na proteção contra infecções, entre outros.</td>
									</tr>
									<tr>
										<td>Cálcio</td>
										<td>1000 mg a 1300 mg</td>
										<td>Iogurte, leite, queijo, sardinha, espinafre, tofu, castanha, feijão, quiabo, ameixa, brócolis, entre outros.</td>
										<td>Atua na formação dos ossos e dos dentes, juntamente com a vitamina K atua na coagulação do sangue, estabelece um equilíbrio juntamente com o fósforo, coordena as ações do sódio e do potássio na contração muscular do coração, entre outros. </td>
									</tr>
									<tr>
										<td>Ferro</td>
										<td>18 mg</td>
										<td>Carne vermelha, vegetais verde-escuros (brocólis, espinafre, couve), leguminosas, cereais integrais, açúcar mascavo, uva, damasco, entre outros.</td>
										<td>Previne a anemia, auxília no funcionamento do coração, contribui para a imunidade, ajuda na oxigenação do sangue, fornece energia entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina D</td>
										<td>10 mcg a 20 mcg</td>
										<td>Sintetizada pelo organismo com ajuda dos raios solares, atum, salmão.</td>
										<td>Atua na produção de insulina, na manutenção do sistema imunológico e na absorção de cálcio.</td>
									</tr>
									<tr>
										<td>Vitamina E</td>
										<td>15 mg</td>
										<td>Óleos (amendoim, girassol), amêndoa, vegetais de folhas verde-escuras, entre outros.</td>
										<td>Forte antioxidante contra radicais livres, protege o sistema reprodutor, reforça o sistema imunológico, melhora a ação da insulina.</td>
									</tr>
									<tr>
										<td>Vitamina K</td>
										<td>80 mcg a 120 mcg</td>
										<td>Alimentos verdes, seja vegetais, legumes (couve, brócolis, salsa), entre outros.</td>
										<td>Compõe 13 proteínas essenciais para a coagulação do sangue e está envolvida na construção dos ossos.</td>
									</tr>
									<tr>
										<td>Vitamina B1</td>
										<td>1,2 mg a 1,5 mg</td>
										<td>Vegetais de folhas (alface, espinafre), berinjela, cogumelo, cereais integrais, feijão, noz, atum, carnes bovina e de aves.</td>
										<td>Mantém o sistema nervoso e circulatório, auxiliam na formação do sangue e no metabolismo de carboidratos, melhora o funcionamento do cérebro, combate a depressão e a fadiga, converte o açúcar no sangue em energia, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina B2</td>
										<td>1,3 mg a 1,7 mg</td>
										<td>Vegetais, grãos integrais, leite e carnes.</td>
										<td>Atua na formação de células vermelhas do sangue e anticorpos, está envolvida na respiração e nos processos celulares, ajuda na reparação e manutenção da pele e na produção do hormônio adrenalina, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina B3</td>
										<td>16 mg a 20 mg</td>
										<td>Levedura, carnes magras de bovinos e de aves, fígado, leite, gema de ovos, cereais integrais, vegetais de folhas (brócolis, espinafre), aspargo, cenoura, batata-doce, frutas secas, tomate, abacate, entre outros.</td>
										<td>Aumenta a circulação, reduz o colesterol e os triglicerídeos, ajuda no funcionamento adequado do sistema nervoso e imunológico, regula o açúcar no sangue, protege o corpo contra poluentes e toxinas.</td>
									</tr>
									<tr>
										<td>Vitamina B6</td>
										<td> 1,7 mg a 2 mg</td>
										<td>Cereais integrais, semente de girassol, soja, amendoim, feijão, aves, peixe, frutas (banana, tomate, abacate) e vegetais (espinafre).</td>
										<td>Reduz o risco de doenças cardíacas, ajuda na manutenção do sistema nervoso central e no sistema imunológico, reduz espasmos musculares, alivia enxaquecas e náuseas, reduz o colesterol, melhora a visão, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina B9</td>
										<td>400 mcg</td>
										<td>Fígado, rim, vegetais de folhas verdes, couve-flor, entre outros.</td>
										<td>Manutenção do sistema imunológico, circulatório e nervoso, antitóxico, promove a saúde dos cabelos e da pele, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina B12</td>
										<td>2,4 mcg a 6 mcg</td>
										<td>Fígado, rim, carnes, peixe, ovo, leite, queijo.</td>
										<td>Auxilia a síntese de células vermelhas no sangue, a manutenção do sistema nervoso, o crescimento e desenvolvimento do corpo, entre outros.</td>
									</tr>
									<tr>
										<td>Vitamina B7</td>
										<td>30 mcg a 300 mcg</td>
										<td>Carnes de aves, fígado, rim, gema do ovo, couve-flor, ervilha, entre outros.</td>
										<td>Auxilia no crescimento celular, na produção de ácidos graxos e na redução de açúcar no sangue, além de promover a saúde das glândulas sudoríparas, do tecido nervoso, da médula ósseas, das glândulas sexuais e das céluas sanguíneas; ademais reduz as dores musculares entre outras funções.</td>
									</tr>
									<tr>
										<td>Vitamina B5</td>
										<td>5 mg a 10 mg</td>
										<td>Carnes, ovo, leite, grãos, amendoim, levedura, vegetais (brocólis), frutas (abacate), entre outros.</td>
										<td>Ajuda na formação de células vermelhas do sangue e na desintoxicação química, previne a degeneração de cartilagens, ajuda na construção de anticorpos, reduz o colesterol e os triglicérideos, ajuda nas disfunções hormonais, entre outros. </td>
									</tr>
									<tr>
										<td>Fósforo</td>
										<td>1000 mg a 1250 mg</td>
										<td>Abóbora, soja, emêndoa, sardinha, castanha, iogurte, emendoim, salmão, entre outros.</td>
										<td>Atua na formação dos dentes e dos ossos, faz parte das membranas celulares do organismo humano, participa do metabolismo dos glicídios, age na contração dos músculos, age nas reações químicas que liberam energia, integra o DNA e o RNA.</td>
									</tr>
									<tr>
										<td>Iodo</td>
										<td>150 mcg</td>
										<td>Batata, leite, bacalhau, sal, camarão, peito de peru, ameixa, feijão, peixe, atum, ovo, iogurte, banana, morango, milho, lagosta, queijo, pão, vagem, entre outros.</td>
										<td>Compõe os hormônios da glândula tireóide (tiroxina e triiodotiroxina), faz parte do desenvolvimento corpóreo, atua na maioria dos órgãos e tem grande participação no sistema nervoso e cardiovascular.</td>
									</tr>
									<tr>
										<td>Magnésio</td>
										<td>400 mg a 420 mg</td>
										<td>Abóbora, amêndoas, avelã, castanha, amendoim, alcachofra, espinafre, aveia, beterraba, trigo, iogurte, arroz integral, abacate, ameixa, banana, leite, laranja, entre outros.</td>
										<td>Atua na contração e no relaxamento múscular, em enzimas do organismo, na produção e transporte de energia, na produção de proteínas, entre outros.</td>
									</tr>
									<tr>
										<td>Zinco</td>
										<td>11 mg a 15 mg</td>
										<td>Ostra, carne de boi, peru, frango, abóbora, soja, cordeiro, amêndoa, amendoim, entre outros.</td>
										<td>Contribui para o funcionamento de vários hormônios, auxilia os sentidos do paladar e do olfato, aumenta a fertilidade em homens e mulheres, estimula a cicatrização de feridas e irritações cutâneas, ajuda na proteção contra infecções, promove a saúde do cabelo e do couro cabeludo, entre outros.</td>
									</tr>
									<tr>
										<td>Selênio</td>
										<td>55 mcg a 70 mcg</td>
										<td>Castanha, trigo, pão, gema de ovo, frango, clara de ovo, arroz, leite, feijão, alho, repolho, entre outros.</td>
										<td>Neutraliza radicais livres, atua na cura de doenças hepáticas (no fígado) e na cura de afecções nos músculos do corpo.</td>
									</tr>
									<tr>
										<td>Cobre</td>
										<td>900 mcg a 2000 mcg</td>
										<td>Carne bovina, carne de cordeiro, maçã, banana, batata, cenoura, alface, bacalhau, farinha, cacau, leite, entre outros.</td>
										<td>Auxília na mobilização do ferro para síntese de hemoglobina, na síntese do hormônio adrenalina e na formação dos tecidos conjuntivos.</td>
									</tr>
									<tr>
										<td>Manganês</td>
										<td>2 mg a 2,3 mg</td>
										<td>Frutos do mar, feijão, chá verde, abacaxi, abóbora, noz, gergelim, linhaça, semente de girassol, soja, espinafre, entre outros. </td>
										<td>Auxília na formação de tecido conjuntivo e ósseo, no crescimento e nas funções de reprodução, participa dos processos de regulção do metabolismo de aminoácidos, colesterol e carboidratos, além de possuir ação antioxidativa.</td>
									</tr>
									<tr>
										<td>Cromo</td>
										<td>35 mcg a 120 mcg</td>
										<td>Carnes, frutos do mar, avo, leite e derivados, grãos (aveia, linhaça, chia), arroz integral, pão integral, uva, laranja, maçã, espinafre, brócolis, alho, tomate, feijão, soja, milho, entre outros.</td>
										<td>Potencializa as funções da insulina, a perda de peso, ajuda no controle da pressão sanguínea, aumenta a capacidade energética do metabolismo, entre outros.</td>
									</tr>
									<tr>
										<td>Molibdênio</td>
										<td>45 mcg a 75 mcg</td>
										<td>Grãos, trigo, aveia, feijão, lentilha, ervilhas, soja, batata, verduras de folhas verdes, couve-flor, fígado, entre outros.</td>
										<td>Desintoxica o organismo, melhora a saúde dental, previne a anemia, alivia a asma, entre outros.</td>
									</tr>
									<tr>
										<td>Cloreto</td>
										<td>2300 mg a 3400 mg</td>
										<td>Centeio, tomate, alface, aipo, azeitona, entre outros.</td>
										<td>Mantém o equilíbro entre os fluidos e a base ácida no organismo.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
							<h2 class="h2"><b>Pirâmide Alimentar</b></h2>
							<img class="img-rounded class-img-nutricao" src="..\img\conteudo\nutricao\piramide-alimentar.jpg" alt="piramide-alimentar">
						</div>
						<div class="col-md-5">
							<h2 class="h2"><b>Recomendação Alimentícia</b></h2>
							<img class="img-rounded class-img-nutricao" src="..\img\conteudo\nutricao\recomendacao-alimenticia.jpg" alt="recomendacao-alimenticia">
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="class-div-rodape">
					<div class="row text-center">
						<div class="col-md-2">
							<footer class="footer">
								<img class="class-img-logo" src="../img/icone-logo/logo-if-transparente.png" alt="logo">
							</footer>
						</div>
						<div class="col-md-8">
							<div class="class-div-copyright">
								<footer class="footer">
									<i class="fa fa-copyright" aria-hidden="true">
										© 2017 Copyright Todos os Direitos Reservados.
									</i>
								</footer>
							</div>
						</div>
						<div class="col-md-2">
							<footer class="footer">
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>